body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    
}
.name{
    font-size: 60px;
    color: rgb(204, 50, 171);
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}